In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
#Funçoes

def unicos(df, coluna):
    return df[coluna].unique()

In [23]:
#df_2021_2 = pd.read_csv('Estrangeiros_por_nacionalidade_2021_2.csv', sep=';', encoding='latin-1')
#df_2022_1 = pd.read_csv('Estrangeiros_por_nacionalidade_2022_1.csv', sep=';', encoding='latin-1')
dic = pd.read_csv('DIC_Quantidade_de_alunos_estrangeiros_por_nacionalidade.csv', sep=';', encoding='latin-1')
df_2019=  pd.read_csv('VW_ALUNOS_ESTRANGEIROS_POR_NACIONALIDADE_20190517.csv', sep=';', encoding='latin-1')
df_2020=  pd.read_csv('VW_ALUNOS_ESTRANGEIROS_POR_NACIONALIDADE_31122020.csv', sep=';', encoding='latin-1')
df_2021=  pd.read_csv('VW_ALUNOS_ESTRANGEIROS_POR_NACIONALIDADE_31122020.csv', sep=';', encoding='latin-1')
df_2021.rename(columns={'ï»¿NOMEDEP':'NOMEDEP', 'NÂº ALUNOS': 'No_ALUNOS'}, inplace=True)
df_2019.rename(columns={'ï»¿NOMEDEP':'NOMEDEP', 'NÂº ALUNOS': 'No_ALUNOS'}, inplace=True)
df_2020.rename(columns={'ï»¿NOMEDEP':'NOMEDEP', 'NÂº ALUNOS': 'No_ALUNOS'}, inplace=True)

df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12664 entries, 0 to 12663
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   NOMEDEP    12664 non-null  object
 1   DE         12664 non-null  object
 2   DISTR      12664 non-null  object
 3   MUN        12664 non-null  object
 4   TIPOESC    12664 non-null  int64
 5   COD_ESC    12664 non-null  int64
 6   NOMESC     12664 non-null  object
 7   DS_PAIS    12664 non-null  object
 8   No_ALUNOS  12664 non-null  int64
dtypes: int64(3), object(6)
memory usage: 890.6+ KB

In [26]:
df_2019["Ano"]='2019'
df_2020["Ano"]='2020'
df_2021["Ano"]='2021'
df_total =pd.concat([df_2019,df_2020,df_2021])
df_total['Ano'].apply(lambda x: int(x))
df_total

,NOMEDEP,DE,DISTR,MUN,TIPOESC,COD_ESC,NOMESC,DS_PAIS,NÂº alunos,Ano,No_ALUNOS
0,ESTADUAL - OUTROS,CAMPINAS LESTE,CAMPINAS LESTE,CAMPINAS,27,45949,CAMPINAS COLEGIO TECNICO DE - UNICAMP,FranÃ§a,1.0,2019,NaN
1,ESTADUAL - OUTROS,CENTRO OESTE,RAPOSO TAVARES,SAO PAULO,11,438820,RAPOSO TAVARES ETEC,Argentina,1.0,2019,NaN
2,ESTADUAL - OUTROS,CENTRO SUL,BELA VISTA,SAO PAULO,11,299364,MARIA AUGUSTA SARAIVA DRA ETEC,BolÃ­via,2.0,2019,NaN
3,ESTADUAL - OUTROS,SOROCABA,SOROCABA,SOROCABA,11,16354,RUBENS DE FARIA E SOUZA ETEC,Peru,1.0,2019,NaN
4,ESTADUAL - OUTROS,TAUBATE,CACAPAVA,CACAPAVA,11,14308,MACHADO DE ASSIS ETEC,Portugal,1.0,2019,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12659,PRIVADA,VOTUPORANGA,VOTUPORANGA,VOTUPORANGA,0,116497,ADVENTISTA DE VOTUPORANGA COLEGIO,JapÃ£o,NaN,2021,3.0
12660,PRIVADA,VOTUPORANGA,VOTUPORANGA,VOTUPORANGA,0,116506,VOTUPORANGUENSE DE ENSINO ESCOLA,JapÃ£o,NaN,2021,1.0
12661,PRIVADA,VOTUPORANGA,VOTUPORANGA,VOTUPORANGA,0,123389,DINAMICA ESCOLA EDUCACAO BASICA DE VOTUPORANGA,BolÃ­via,NaN,2021,1.0
12662,PRIVADA,VOTUPORANGA,VOTUPORANGA,VOTUPORANGA,40,269001,IRMA ELVIRA CENTRO DE EDUCACAO INFANTIL,Venezuela,NaN,2021,1.0
12663,PRIVADA,VOTUPORANGA,VOTUPORANGA,VOTUPORANGA,57,116488,COLEGIO COMERCIAL DE VOTUPORANGA,ColÃ´mbia,NaN,2021,1.0

In [27]:
df_total.groupby("Ano").sum()

      TIPOESC     COD_ESC  NÂº alunos  No_ALUNOS
Ano
2019    48281  2045963598     19786.0        0.0
2020    71178  2944858397         0.0    27054.0
2021    71178  2944858397         0.0    27054.0

In [8]:
unicos(df_nacionalidade_2021_2,'NOMEDEP')

array(['ESTADUAL - SE', 'MUNICIPAL', 'PRIVADA', 'FEDERAL',
       'ESTADUAL - OUTROS'], dtype=object)

In [9]:
dic

  ï»¿Nome do Campo     DescriÃ§Ã£o do Campo       Tipo do Dado
0          nomedep           Rede de Ensino              Texto
1               de              Nome da DER              Texto
2            distr                 Distrito              Texto
3              mun               MunicÃ­pio              Texto
4          tipoesc           Tipo da Escola  NumÃ©rico Inteiro
5          cod_esc        CÃ³digo da Escola  NumÃ©rico Inteiro
6           nomesc  Nome da Unidade Escolar              Texto
7          DS_PAIS          PaÃ­s de Origem              Texto
8       NÂº alunos        NÃºmero de alunos  NumÃ©rico Inteiro

In [10]:
df_nacionalidade_2021_2

,NOMEDEP,DE,DISTR,MUN,TIPOESC,COD_ESC,NOMESC,DS_PAIS,Nº ALUNOS
0,ESTADUAL - SE,SAO BERNARDO DO CAMPO,SAO BERNARDO DO CAMPO,SAO BERNARDO DO CAMPO,8,9283,20 DE AGOSTO,Japão,1
1,ESTADUAL - SE,SAO BERNARDO DO CAMPO,SAO BERNARDO DO CAMPO,SAO BERNARDO DO CAMPO,8,9283,20 DE AGOSTO,Síria,3
2,ESTADUAL - SE,LINS,LINS,LINS,8,26189,21 DE ABRIL,Venezuela,3
3,ESTADUAL - SE,CAMPINAS LESTE,CAMPINAS LESTE,CAMPINAS,8,18533,31 DE MARCO,Chile,1
4,ESTADUAL - SE,CAMPINAS LESTE,CAMPINAS LESTE,CAMPINAS,8,18533,31 DE MARCO,"Dominicana, República",2
...,...,...,...,...,...,...,...,...,...
13416,ESTADUAL - OUTROS,JUNDIAI,JUNDIAI,JUNDIAI,11,45986,VASCO ANTONIO VENCHIARUTTI ETEC,Bolívia,2
13417,ESTADUAL - OUTROS,JUNDIAI,JUNDIAI,JUNDIAI,11,45986,VASCO ANTONIO VENCHIARUTTI ETEC,Colômbia,1
13418,ESTADUAL - OUTROS,LESTE 5,ARICANDUVA,SAO PAULO,11,405243,VILA FORMOSA ETEC DE,Angola,1
13419,ESTADUAL - OUTROS,LESTE 4,ARTUR ALVIM,SAO PAULO,11,925871,ZONA LESTE ETEC,Bolívia,3
13420,ESTADUAL - OUTROS,LESTE 4,ARTUR ALVIM,SAO PAULO,11,925871,ZONA LESTE ETEC,Japão,1